:root {
	font-family: Inter, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

body {
	@apply bg-zinc-900 text-white;
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 1rem;
}
